
[defaults]
inventory        = ~/git-projects/ansible_repo/inventories
roles_path       = ~/git-projects/ansible_repo/roles
log_path         = ~/ansible.log
# ANSIBLE_LOG_PATH=/tmp/ansible_dynamic_$(date +"%d%m%Y_%H%M%S").log ansible-playbook my-playbook.yaml
#ask_sudo_pass = True

stdout_callback=default
#stdout_callback=json
#callbacks_enabled=ansible.posix.timer                                 # adds timer to the playbook
#callbacks_enabled=ansible.posix.profile_tasks                         # adds timestamps for each task along with the stats of time taken for each task
callbacks_enabled=ansible.posix.profile_tasks,ansible.posix.timer      # above 2 clubbed together in 1 setting
#ansible.posix.profile_roles    # profiling at role level


[colors]
error = bright red
