
[defaults]
inventory        = ~/git-projects/ansible_repo/inventories
roles_path       = ~/git-projects/ansible_repo/roles
log_path         = ~/ansible.log
#ask_sudo_pass = True

[colors]
error = bright red
